@import 'compass';
//@import 'screen';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
html {
//  overflow: hidden;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.85;
	background: $light-gray;
	color: $dark;
	overflow-x: hidden;
	
}
@include selection {
	color: $white; 
	background: $green;
	text-decoration: none;
}
//h-style
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0;
	line-height: 1.8;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif;
}
button:hover {
	@include transition(color, .5s, ease-in);
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
}
h2 {
	font-size: 3.25em;
}
h3 {
	font-size: 4.5em;
	text-align: center;
	color: $green;
}
h4 {
	font-size: 1.375em;
	line-height: 1.5;
}
p {
	font-size: 1.625em;
	font-weight: 200;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif;
	color: $dark;
	>span {
		display: block;
	}
}
@include respond-to (normal-mobile){
	h3 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.25em;
	}
	h4 {
		font-size: 1.1em;
	}
	p {
		font-size: 1.2em;
	}
}
@include respond-to (xxs-mobile){
	h3 {
		line-height: 1.25;
	}
}
a {
	color: $hot-pink;
	@include transition(color, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
	}
}

.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
.btn {
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
	border: 2px solid $hot-pink;
}
.btn-primary {
	color: $hot-pink;
	background: $white;
	border: 2px solid $hot-pink;
	border-radius: 3px;
	font-size: 1.625em;
	padding: 10px 40px;
	margin-top: 6px;
	&:hover, &:active , &:focus {
		background: $hot-pink;
		color: $white;
		border: 2px solid $hot-pink;
		.plus, .minus {
			&:after, &:before {
				background: $white;
				@include transition(color, .5s, ease-in);
			}
		}
	}
	&:active {
		&:hover, &:focus  {
			background: $hot-pink;
			color: $white;
		}
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.8;
	}
	.plus, .minus {
		width: 20px;
		height: 20px;
		position: relative;
		&:after, &:before {
			content: ('');
			display: block;
			position: absolute;
			background: $hot-pink;
		}
		&:before {
			width: 100%;
			height: 2px;
			top: 9px;
		}
		&:after {
			width: 2px;
			height: 100%;
			left: 9px;
		}
	}
	.minus {
		&:after, &:before {
			background: $white;
		}
		&:after {
			display: none;
		}
	}
	@include respond-to (normal-mobile){
		padding: 10px 30px;
		font-size: 1.5em;
	}
}
.btn-info {
	color: $white;
	background: $green;
	&:hover, &:active , &:focus {
		border: 2px solid $green;
		color: $green;
		background: $white;
	}
	&:active {
		&:hover, &:focus  {
			border: 2px solid $green;
			color: $green;
			background: $white;
		}
	}
}
.btn-lg {
}
.btn-md {
	border-radius: 4px 4px 0 0;
	background: $hot-pink;
	&:hover, &:active , &:focus {
		background: $green;
		border-color: $green;
	}
	&.btn-minus {
		font-size: 14px;
	}
	&:active {
		&:hover, &:focus  {
			border: 2px solid $green;
			color: $green;
			background: $green;
		}
	}
	@include respond-to (normal-mobile){
//		&.btn-minus {
//			display: none;
//			&.visible-xs {
//				z-index: 9999;
//				border-radius: 30px 0 0 30px;
//				width: 30px;
//				height: 60px;
//				padding: 0;
//				position: fixed;
//				right: 0;
//				top: 50%;
//			}
//		}
	}
}

blockquote {
	display: inline-block;
	width: 65%;
	color: $yellow;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: left;
	border: 0;
	position: relative;
	&:before , &:after {
		font-size: 4.5em;
		line-height: 1;
		position: absolute;
	}
	&:before {
		left: -4.5%;
		top: 16%;
		content: open-quote;
		margin-right: 0.25em;
	}
	&:after {
		right: -4.5%;
		bottom: -15%;
		content: close-quote;
		margin-left: 0.25em;
	}
	h2 {
		display: inline-block;
		font-size: $xxxxxl-font;
		line-height: $xxl-font;
		color: $green;
		font-weight: 900;
		span {
			font-size: 24px;
			display: block;
			text-align: right;
			line-height: 40px!important;
			font-weight: normal!important;
		}
	}
	@include respond-to (normal-mobile){
		width: 90%;
		&:before , &:after {
			font-size: 2.8em;
		}
		&:before {
			top: 13%;
		}
		&:after {
			bottom: -2%;
		}
		h2 {
			font-size: 1.35em;
			span {
				font-size: 16px;
				line-height: 22px!important;
			}
		}
	}
	@include respond-to (xxs-mobile){
		width: 98%;
		h2 {
			span {
				font-size: 13px;
			}
		}
	}
}

//#modal-wrapper {
//	perspective: none;
//	position: relative;
//}
//.modal {
//	position: absolute;
//	overflow-y: auto;
//	@include transparent($white,.9);
//	&#video .modal-dialog {
//		width: 100%;
//		margin: 0;
//		.modal-body {
//			padding: 0;
//		}
//		.modal-content {
//			line-height: 0;
//			
//		}
//	}
//	.modal-dialog {
//		margin: 0 auto;
//	}
//	@include respond-to (only-desktop){
//		.modal-dialog {
//			width: 80%;
//		}
//	}
//	@include respond-to (only-device){
//		&#video .modal-dialog {
//			margin: 30% 0;
//		}
//	}
//	.modal-content {
//		box-shadow: none;
//		border: 0;
//		
//		.modal-body {
//			padding: 60px 20px 20px;
//		}
//	}
//}
//.close {
//	position: absolute;
//	display: inline-block;
//	width: 50px;
//	height: 50px;
//	opacity: 1;
//	overflow: hidden;
//	display: inline-block;
//	z-index: 9999;
//	cursor: pointer;
//	top: 12px;
//	right: 12px;
//	background: $white;
//	&:hover {
//		@include transparent($yellow,.2);
//		&::before, &::after {
//			background: $yellow;
//		}
//	}
//	&::before,
//	&::after {
//		content: '';
//		position: absolute;
//		height: 2px;
//		width: 100%;
//		top: 50%;
//		left: 0;
//		margin-top: -1px;
//		background: $yellow;
//	}
//	&::before {
//		@include transform(rotate(45deg));
//	}
//	&::after {
//		@include transform(rotate(-45deg));
//	}
//}
footer {
	text-align: center;
	padding: 40px 0;
	color: $white;
	background: $green;
	@include respond-to (normal-mobile){
		line-height: 1.25;
	}
}

#wrapper {
	overflow: hidden;
}
#intro {
	padding-bottom: 50px;
	margin-bottom: 0!important;
	&.parallax {
		background: url(../images/intro_bg.jpg) no-repeat center top fixed;
		background-size: cover;
	}
	h1 {
		margin: 0;
	}
	h2 {
		margin-top: 10px;
		color: $yellow;
	}
	.img-responsive {
		margin: 16px auto 0;
	}
	.dropdown {
		display: inline;
		.dropdown-toggle {
			color: $yellow;
			cursor: pointer;
		}
	}
	.copywriting {
		position: relative;
		z-index: 2;
		color: $white;
	}
	.main-copywriter {
		font-size: 1.625em;
		span.yellow {
			padding: 0 6px;
			
		}
	}
	.dropdown-menu {
		width: 300px;
		padding: 12px;
		box-shadow: 0 10px 20px rgba($dark,.2);
		border: 0;
		top: auto;
		bottom: 40px;
		&:before {
			content:"\A";
			border-style: solid;
			border-width: 10px 8px 0 8px;
			border-color: $white transparent transparent transparent;
			position: absolute;
			left: 10px;
			bottom: -10px;
		}
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 4px solid $green;
			
		}
		img, .team-info {
			display: inline-block;
			vertical-align: top;
		}
		.team-info {
			padding: 8px;
			h4 {
				font-size: 18px;
				color: $green;
				font-family: 'Roboto Slab', serif;
			}
			li {
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 30px;
				font-size: 18px;
				text-align: center;
				margin-right: 4px;
				transition: all .3s;
				&.twitter{
					background: #1da1f2;
				}
				&.linkedin{
					background: #0077b5;
				}
				&.behance{
					background: #1769ff;
				}
				&:hover, &:active, &:focus {
					box-shadow: 0 3px 10px rgba($dark,.4);
					width: 40px;
				}
				a {
					display: block;
					color: $white;
				}
			}
		}
	}
	@include respond-to (normal-mobile){
//		background: url('../images/wireframe_01.png') no-repeat center 40px;
		
//		padding-bottom: 10px;
//		&:before {
//			content: ' ';
//			display: block;
//			position: absolute;
//			left: 0;
//			top: 0;
//			width: 100%;
//			height: 100%;
//			z-index: 1;
//			opacity: 0.2;
//			background: url('../images/wireframe_01.png') no-repeat center 0px;
//			background-size: 76%;
//		}
		min-height: 100%;
		padding-bottom: 40px;
		&.parallax {
			background-size: auto;
		}
		h1 {
			width: 80%;
			margin: 0 auto;
		}
		.main-copywriter {
			font-size: 1.2em;
		}
		.dropdown-menu {
			&.team1 {
				left: -140px;
				&:before {
					left: 150px;
				}
			}
			&.team2 {
				left: -203px;
				&:before {
					left: 220px;
				}
			}
		}
	}
	@include respond-to (xxs-mobile){
		.main-copywriter {
			font-size: 1em;
		}
	}
}


#main {
	position: relative;
	z-index: 2;
	@include clearfix;
	padding: 60px 0 0;
	margin-bottom: 60px;
	background: $white;
	box-shadow: 0 0 80px rgba($dark,.3), 0 0 50px rgba($dark,.2);
	.plan {
		text-align: center;
		margin-bottom: 100px;
		position: relative;
		z-index: 3;
		&:nth-of-type(3) {
//			margin-bottom: 0;
		}
	}
	h2, h5 {
		color: $purple;
		margin: 0;
	}
	h4, p.price {
		color: $hot-pink;
	}
	h5 {
		text-decoration: underline;
		margin: 0;
	}
	h4 {
		margin-top: 20px;
		margin-bottom: 0;
		span {
			font-size: 15px;
		}
	}
	p.price {
		margin: 10px 0;
		span {
			display: inline-block;
			font-size: 72px;
			font-family: 'Roboto', sans-serif;
			font-weight: 800;
			line-height: 1;
		}
	}
	#plan-1, #plan-2, #plan-3 {
		background: $light-gray;
		margin: 0 0 10px;
		box-shadow: 0 10px 30px rgba($dark,.4), 0 30px 50px rgba($dark,.2), inset 0 30px 30px rgba($dark,.2);
	}
	#plan-3 {
		margin-bottom: -100px;
	}
	.plan-content {
		width: 100%;
		padding-top: 60px;
		.note-block {
			width: 100%;
			margin: 20px auto;
//			padding: 30px 50px;
			font-style: italic;
			background: $white;
			box-shadow: 0 0 10px rgba($dark,.2);
			.card-img {
				width: 30%;
				float: left;
			}
			.card-p {
				width: 65%;
				float: left;
			}
			p {
				color: $purple;
				padding: 20px;
				text-align: left;
				margin: 0;
			}
		}
		p {
			text-align: justify;
			padding: 10px 0;
			font-size: 18px;
//			&.highlight {
//				font-size: 1.625em;
//				text-align: center;
//				padding: 30px 0 40px;
//			}
			.line-through {
				text-decoration: line-through;
				display: inline;
			}
		}
	}
	.plan-highlight {
		h3 {
			&.highlight {
				color: $white;
				font-size: 2em;
				padding: 50px 0;
				span {
					display: block;
				}
			}
		}
		&.plan1 {
			background: url(../images/plan1_bg.jpg) no-repeat center center fixed;
			background-size: cover;
		}
		&.plan2 {
			background: url(../images/plan2_bg.jpg) no-repeat center center fixed;
			background-size: cover;
		}
		&.plan3 {
			background: url(../images/plan3_bg.jpg) no-repeat center center fixed;
			background-size: cover;
		}
	}
	.toBottom {
		text-decoration: underline;
		padding: 3px 10px;
		margin: 0 10px;
		&:hover, &:focus {
			background: $hot-pink;
			color: $white;
			text-decoration: none;	
		}
	}
	@include respond-to (xlg-screen){
		.plan-content {
			.note-block {
				.card-img {
					width: 28%;
				}
				.card-p {
					width: 70%;
				}
			}
		}
	}
//	@include respond-to (xxlg-screen){
//		.plan-content {
//			.note-block {
//				width: 80%;
//				.card-img {
//					width: 20%;
//				}
//				.card-p {
//					width: 80%;
//				}
//			}
//		}
//	}
	@include respond-to (lg-screen){
		.plan-content {
			.note-block {
				.card-img {
					width: 42%;
				}
				.card-p {
					width: 58%;
				}
			}
		}
	}
	@include respond-to (md-screen){
		.plan-content {
			.note-block {
				.card-img {
					width: 100%;
				}
				.card-p {
					width: 100%;
				}
			}
		}
	}
	@include respond-to (only-device){
		.plan-content {
			.note-block {
				.card-img {
					width: 100%;
				}
				.card-p {
					width: 100%;
				}
			}
		}
	}
	@include respond-to (normal-mobile){
		padding-top: 30px;
		margin-top: 0!important;
		p.price {
			font-size: 1.2em;
			span {
				font-size: 52px;
			}
		}
		.plan {
			margin-bottom: 50px;
		}
		.plan-content {
			position: relative;
			padding: 30px 30px 0;
			p {
				font-size: 16px;
				&.highlight {
					font-size: 1.4em;
					font-weight: bold;
				}
				&.note-block {
					padding: 20px;
				}
			}
		}
		.plan-highlight {
			h3 {
				&.highlight {
					font-size: 1.4em;
					padding-bottom: 10px;
				}
			}
		}
	}
}
.item-paralax {
	position: absolute;
	opacity: .2!important;
	#main & {
		opacity: 1;
	}
	@include respond-to (normal-mobile){
		display: none;
	}
}
.item1, .item4, .item7 {
	transform: scale(.7);
}
.item2, .item5, .item8 {
	transform: scale(.6);
}
.item3, .item6, .item9 {
	transform: scale(.9);
}
.item10, .item11, .item12, .item13, .item14, .item15 {
	width: 36%;
	height: auto!important;
	opacity: 1!important;
	@include respond-to (md-screen){
		width: 26%;
	}
	@include respond-to (only-device){
		width: 20%;
	}
}
.item14, .item15 {
	width: 26%;
}
.item-square {
	position: absolute;
	@include respond-to (normal-mobile){
		display: none;
	}
}

#clients {
	position: relative;
	z-index: 2;
	margin: 40px auto;
	.carousel {
		width: 80%;
		margin: 0 auto;
		.item {
			text-align: center;
		}
	}
	h4 {
		color: $purple;
	}
	blockquote {
		display: inline-block;
		vertical-align: top;
		width: 86%;
		padding: 0;
		margin-left: 30px;
		color: $gray;
		vertical-align: top;
		padding-left: 10px;
		text-shadow: 0 0 2px $light-gray, 0 0 4px $light-gray,0 0 2px $light-gray, 0 0 4px $light-gray;
		&:before {
			top: 0;
		}
		&:after {
			bottom: auto;
		}
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		display: inline-block;
		vertical-align: top;
		border: 3px solid $purple;
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}
	.carousel-indicators {
		bottom: -50px;
		.active {
			background-color: $hot-pink;
			
		}
		li {
			border-color: $hot-pink;
			background-color: $white;
		}
	}
	@include respond-to (normal-mobile){
		.carousel {
			width: 90%;
			blockquote {
				width: 90%;
				margin-left: 0;
			}
		}
	}
}
#instagram {
	margin-top: 80px;
	
	@include clearfix;
}
//style
.hot-pink {
	color: $hot-pink;
}
.purple {
	color: $purple;
}
.yellow {
	color: $yellow;
}
.note-wrap {
	@include respond-to (only-desktop){
		&.inline {
			display: inline;
			.note {
				margin: 0;
				padding: 0;
			}
		}
	}
}
.note {
	display: inline;
	background-image: linear-gradient(rgba($yellow, 0) 44% , $yellow 45%);
	margin: 0 4px;
	padding: 0 4px;
	&.main-note {
		display: inline-block;
	}
	@include respond-to (normal-mobile){
		&.main-note	{
//			display: inline-block;
		}
	}
}
.full-width {
	width: 100%;
}
.left-img {
	float: left;
	width: 30%;
	margin-left: -10%;
}
figure {
	text-align: center;
	margin: 18px auto;
	padding: 0;
	img {
		max-width: 100%;
		display: inline-block;
	}
	figcaption {
		font-style: italic;
		color: $gray;
	}
}
.note-sm {
	display: inline;
	font-weight: bold;
	position: relative;
	margin: 1px 4px;
	span {
		padding: 0 6px;
		
	}
	&:after {
		position: absolute;
		content: ('');
		display: block;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60%;
		background: $yellow;
		z-index: 1;
	}
}
.block {
	display: block;
}
.mobile-block {
	display: inline;
	@include respond-to (normal-mobile){
		display: block;
	}
}
#instafeed {
	width: 100%;
	a {
		display: block;
		float: left;
		position: relative;
		width: 25%;
		img {
			display: block;
			width: 100%;
		}
	}
	@include respond-to (xxlg-screen) {
		a {
			width: 12.5%
		}
	}
	@include respond-to (normal-mobile) {
		a {
			width: 50%;
		}
	}
}
#bottom {
	position: relative;
}